
*{
    font-style: italic;
}
body{
    background-color: antiquewhite;
}

.center{
    text-align: center;
}

.fonte-30{
    font-size: 30px;
}


h2, p{
    color: blueviolet;
    font-size: 15px;
    text-align: center;
}

#primeiro{
    color: black;
    padding: 10px;
}