body{
    background-color: antiquewhite;

}

h1{
    color: #4287f5;
}
p{
    color: #f542d7
}

.backgorundTeste{
    min-height: 60vh;
    background-color: black;
    background-image: url(../img/cidade.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}