.flex-pai{
    background: blue;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    align-content: start;
}

.flex-pai div{
    text-align: center;
    background-color: white;
    padding: 30px;
    margin: 5px;
    border: solid 1px red;
}