@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.titulo{
    color: white;
    text-align: center;
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Google Sans", sans-serif;

    background-color: black;
}

p{
    font-family: "Google Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.container{
    border: solid black 1px ;
    overflow: auto;
}

.container img{
     float:left; /* define onde ficaria a imagem/texto */
    margin-right: 15px;

}

ul{
    background: black;
    padding: 20px;

}

li{
    display: inline-block;
}

li a, .dropbtn{
    color: white;
    text-decoration: none;
    padding: 20px;

}

li a:hover, .dropdown:hover .dropbtn:hover{
    background: #ccc ;
    color: black;
}

li.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background: black;
    width: 150px;
    top: 100%;      
    margin-top: 20px; 
     z-index: 1000;
}

.dropdown-content a{
display: block;
text-align: left;
}

.dropdown-content a:hover{
display: block;
text-align: left;
color: black;
}


.dropdown:hover .dropdown-content{
    display: block;
}

.login{
    float: right;
}
.login a:hover{
    background: orangered 
}

.div-das-imagens{
    margin-top: 20px;
}


.img1:hover{
opacity: 0.4;
}

.img2:hover{
opacity: 0.6;
}

.img3:hover{
opacity: 0.9;
}

a.botao{
    
    text-decoration: none;
    color: white;
    background: black;
    padding: 15px;
    border-radius: 10px;
}

a.botao:hover{
    opacity: 0.5;
}