.menu-ul {
    background-color: black;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    position: relative;
}

li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}

li a:hover,
.dropdown:hover .dropbtn,
.dropdown-content a:hover {
    background: rgb(216, 216, 216);
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: black;
    min-width: 67px;
    
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.login {
    float: right;
}

.login a:hover {
    background: brown;
    color: black;
}
